<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge<?=not request.is_local and ',chrome=1' or ''?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakerJS Demo 1</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body ng-app="app">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong>
    browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Navbar ======================================= -->
    <div class="container" ng-controller="Ctrl">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h1>SneakerJS Demo</h1>
          Dogs have one owner. Cats have many owners.<br/>
          Create some dogs and cats, change their owners and then delete some items to see what happens.<br/>
          Check the source code of this demo (app.js and index.html).
          <br/><br/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2" ng-cloak>
          <div class="form-inline">
            <div class="form-group">
              <label>Add a person</label>
              <br/>
              <input type="text" class="form-control" ng-model="newPersonName" placeholder="Name">
              <button class="btn btn-success" ng-click="db.newPerson({name: newPersonName})">Add</button>
            </div>
            <br/>
            <div class="form-group">
              <label>Add a cat</label>
              <br/>
              <input type="text" class="form-control" ng-model="newCatName" placeholder="Name">
              <button class="btn btn-success" ng-click="db.newCat({name: newCatName})">Add</button>
            </div>
            <br/>
            <div class="form-group">
              <label>Add a dog</label>
              <br/>
              <input type="text" class="form-control" ng-model="newDogName" placeholder="Name">
              <button class="btn btn-success" ng-click="db.newDog({name: newDogName})">Add</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4" ng-cloak>
          <div class="form-inline">
            <div class="form-group">
              <label>Set dog owner</label>
              <br/>
              <select class="form-control"
                 placeholder="Owner"
                 ng-model="setDogOwnerPerson"
                 ng-options="item as item.name for item in db.allPeople()"
                 ng-change="alert(5);">
              </select>
              <select class="form-control"
                 placeholder="Dog"
                 ng-model="setDogOwnerDog"
                 ng-options="item as item.name for item in db.allDogs()"
                 >
              </select>
              <button class="btn btn-success" ng-click="db.setDogOwner(setDogOwnerDog, setDogOwnerPerson)">Apply</button>
            </div>
            <br/>
            <div class="form-group">
              <label>Link cat to person as owner</label>
              <br/>
              <select class="form-control"
                 placeholder="Owner"
                 ng-model="linkCatToPersonAsOwnerPerson"
                 ng-options="item as item.name for item in db.allPeople()"
                 ng-change="alert(5);">
              </select>
              <select class="form-control"
                 placeholder="Dog"
                 ng-model="linkCatToPersonAsOwnerCat"
                 ng-options="item as item.name for item in db.allCats()"
                 >
              </select>
              <button class="btn btn-success"
                ng-click="db.addPersonCatAsOwner(linkCatToPersonAsOwnerPerson, linkCatToPersonAsOwnerCat)">Link</button>
              <button class="btn btn-success"
                ng-click="db.removePersonCatAsOwner(linkCatToPersonAsOwnerPerson, linkCatToPersonAsOwnerCat)">Unlink</button>
            </div>
            <br/>
            <div class="form-group">
              <label>Link cat to person as friend</label>
              <br/>
              <select class="form-control"
                 placeholder="Owner"
                 ng-model="linkCatToPersonAsFriendPerson"
                 ng-options="item as item.name for item in db.allPeople()"
                 ng-change="alert(5);">
              </select>
              <select class="form-control"
                 placeholder="Dog"
                 ng-model="linkCatToPersonAsFriendCat"
                 ng-options="item as item.name for item in db.allCats()"
                 >
              </select>
              <button class="btn btn-success"
                ng-click="db.addPersonCatAsFriend(linkCatToPersonAsFriendPerson, linkCatToPersonAsFriendCat)">Link</button>
              <button class="btn btn-success"
                ng-click="db.removePersonCatAsFriend(linkCatToPersonAsFriendPerson, linkCatToPersonAsFriendCat)">Unlink</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-cloak>
          <h2>People</h2>
          <table class="table table-striped table-condensed">
            <tr>
              <th>Name</th>
              <th>Cats owned</th>
              <th>Cat friends</th>
              <th>Dogs</th>
              <th class="text-right">Actions</th>
            </tr>
            <tr ng-repeat="person in db.allPeople()">
              <td>
                <h4>{{person.name}}</h4>
              </td>
              <td>
                <ul>
                  <li ng-repeat="cat in db.getPersonCatsAsOwner(person) track by $index">
                    {{cat.name}}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li ng-repeat="cat in db.getPersonCatsAsFriend(person) track by $index">
                    {{cat.name}}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li ng-repeat="dog in db.getPersonDogs(person) track by $index">
                    {{dog.name}}
                  </li>
                </ul>
              </td>
              <td>
                <button class="btn btn-danger pull-right" ng-click="db.deleteItem(person)">X</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-cloak>
          <h2>Cats</h2>
          <table class="table table-striped table-condensed">
            <tr>
              <th>Name</th>
              <th>Owners</th>
              <th>Friends</th>
              <th class="text-right">Actions</th>
            </tr>
            <tr ng-repeat="cat in db.allCats()">
              <td>
                <h4>{{cat.name}}</h4>
              </td>
              <td>
                <ul>
                  <li ng-repeat="person in db.getCatPeopleAsOwner(cat) track by $index">
                    {{person.name}}
                  </li>
                </ul>
              </td>
              <td>
                <ul>
                  <li ng-repeat="person in db.getCatPeopleAsFriend(cat) track by $index">
                    {{person.name}}
                  </li>
                </ul>
              </td>
              <td>
                <button class="btn btn-danger pull-right" ng-click="db.deleteItem(cat)">X</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-cloak>
          <h2>Dogs</h2>
          <table class="table table-striped table-condensed">
            <tr>
              <th>Name</th>
              <th>Owner</th>
              <th class="text-right">Actions</th>
            </tr>
            <tr ng-repeat="dog in db.allDogs()">
              <td>
                <h4>{{dog.name}}</h4>
              </td>
              <td>
                {{db.getDogOwner(dog).name}}
              </td>
              <td>
                <button class="btn btn-danger pull-right" ng-click="db.deleteItem(dog)">X</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </body>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/pouchdb/dist/pouchdb.min.js"></script>
  <script src="node_modules/sneakerjs/dist/sneakerjs.js"></script>
  <script src="app.js"></script>
</html>
