.main-container {
  margin-top: 60px;
}

/*Because ng-cloak not working as expected */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,.x-ng-cloak {
  display: none !important;
}

.object-section {
  padding-top: 15px;
}

.sub-item {
  border: 2px solid #ccc;
  border-radius: 7px;
  padding: 8px 4px 8px 10px;
  margin-left: 7px;
}
.sub-item button {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 7px;
}

.thing-wrapper {
   margin: 20px 0;
   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
}
