<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge<?=not request.is_local and ',chrome=1' or ''?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body ng-app="app">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> 
    browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Navbar ======================================= -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- logo -->
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--right hand menu -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="container main-container" ng-controller="Ctrl">
      <div class="row">
        <div class="col-sm-6">
          <h2>People</h2>
          <div ng-repeat="person in data.people()">
            <strong>{{person.name}}</strong>
            <ul style="display:inline">
              <li style="display:inline" ng-repeat="cat in getPersonCats(person) track by $index">  {{cat.name}}  </li>            
            </ul>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-2">
              <input type="text" class="form-control" ng-model="newPersonName" placeholder="Name">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" ng-click="newPerson()">New Person</button>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <h2>Cats</h2>
          <div ng-repeat="cat in data.cats()">
            <strong>{{cat.name}}</strong>
            {{model.getCatOwner(cat).name}}
          </div>
          
          <div class="form-group row">
            <div class="col-sm-2">
              <input type="text" class="form-control" ng-model="newCatName" placeholder="Name">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" ng-click="newCat()">New Cat</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="form-group row">
            <div class="col-sm-2">
              <select class="form-control" ng-model="data.linkPerson" ng-options="item as item.name for item in data.people()"></select>
              ({{data.linkPerson.name}})
            </div>
            <div class="col-sm-2">
              <select class="form-control" ng-model="data.linkCat" ng-options="item as item.name for item in data.cats()"></select>
              ({{data.linkCat.name}})
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" ng-click="linkCatToPerson()">Link</button>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </body>
  <script src="lib/pouchdb.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/relate.js"></script>
  <script src="app.js"></script>
</html>
